.pacifico-bold {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.plant-bg {
  background-image: url(https://images.unsplash.com/photo-1604762524889-3e2fcc145683?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  min-height: 70dvh;
}

.jungle-bg {
  background-image: url(https://plus.unsplash.com/premium_photo-1663962158789-0ab624c4f17d?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  min-height: 30dvh;
}

.the-spill-card {
  position: absolute;
  top: -52px;
}